altgraph==0.17.5
charset-normalizer==3.4.4
colorama==0.4.6
docx2pdf==0.1.8
et_xmlfile==2.0.0
lxml==6.0.2
numpy==2.4.0
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pefile==2024.8.26
pillow==12.1.0
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.11
python-dateutil==2.9.0.post0
python-docx==1.2.0
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
reportlab==4.4.7
setuptools==80.9.0
six==1.17.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.3
